* {
    margin: 0;
    padding: 0;
    font-family: "Lucida Grande", Arial, "Lucida Sans Unicode", sans-serif;
}

/* navigation */


/* Mobile */
@media screen and (max-width: 650px) {

    .inline-nav{
        display: none;
    }

    h1 {padding: 40px; text-align: center; font-size: 1.5em;}

    li a {text-decoration : none; color : #2d2f31;}


    nav {
    width : 100%; 
    background: #d9d9d9;
    }

    span {
    padding : 15px;
    background : #2d2f31; 
    color : white;
    font-size : 1.2em;
    font-variant : small-caps;
    cursor : pointer;
    display: block;
    }

    span::after {
    float: right;
    right: 10%;
    content: "+";
    }

    .slide {
    clear:both;
    width:100%;
    height:0px;
    overflow: hidden;
    text-align: center;
    transition: height .4s ease;
    }

    .slide li {padding : 30px;}

    #touch {position: absolute; opacity: 0; height: 0px;}    

    #touch:checked + .slide {height: 300px;} 
}

@media screen and (min-width: 650px) {
    .slide, #touch, label{
        display: none;
    }

    /* Style for the unordered list */
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    /* Style for the list items */
    li {
        display: inline;
        margin-right: 10px; /* Adjust as needed */
    }

    .nav-content{
        display: flex;
        justify-content: center;
        padding: 10px 0px;
    }

    .nav-item{
        padding: 0px 10px;
    }
}

/* Website */


/* Toggle Effect */
input:checked ~ label {
    background-image: url(./assets/close.png);
}
input:checked ~ .nav-content {
    max-height: 100%;
}

/* hero */

.hero {
    object-fit: cover;
    background-image: url(./assets/cover-high-res-1024x578.jpg);
    height: 400px;
}

/* Media query for desktop */
/* li {
    display: inline;
} */

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

#navbar a:hover {
    color: rgb(222, 0, 0);
}

/* intro */

#intro {
    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: 20px;
    padding: 50px;
    text-align: center;
}



/* Page Link */
#page-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 75px;
    padding: 50px;
}

.page-link {
    display: flex;
    flex-direction: column;
    /* border: solid black 1px; */
    width: 350px;
    position: relative;
    border-radius: 5px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.link-info {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    text-align: center;
}

.learn-more {
    padding: 10px;
}


.link-img {
    width: 100%; height: 250px;
    border-radius: 5px;
}

.background-tint {
    filter: brightness(80%);
}

.background-tint:hover {
    filter: brightness(90%);
}

/* contact */
.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.contact-title {
    padding-bottom: 20px;
}


/* footer */

footer {
    height: 100px;
    padding: 20px;
    color: white;
    background-color: black;
    display: block;
}