#prices {
    padding-inline: 50px;
    margin-top: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.prices-title{
    margin-bottom: 30px;;
}

.time-table {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
    gap: 20px; /* Gap between grid items */

    margin-bottom: 50px;
}

.price-table {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Three columns with equal width */
    gap: 20px; /* Gap between grid items */

    margin-bottom: 30px;
}

.course-header-image{
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.course-header-image:hover{
    filter: brightness(80%);
}

.course-header-title{
    color: white;
    position: absolute;
    top: 50%;
    text-align: center;
    z-index: 1;
}